html, body {
  margin: 0;
  padding: 0,

}
body {
  background-color: Black;
  color: Orange;
  height: 500px;
  text-align: center;
  margin: auto;
  max-width: 500px;

}
#Mytwitchchannel {
  background-color: purple;
}

background-color: lightblue;

}
.mycodingexp {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
  text-align: center;
}
.header {
  background:
  background-size: 700px;
  height: 500px;
  text-align: center;
}
.body {
  background:
  background-size: 700px;
  height: 500px;
  text-align: center;
  margin: auto;
  max-width: 500px;
}
